/*
  color-semantic names

  - #ffffff; white;
  - #13110b; black;
  - #494949; gray;
  - #fafafa; gray-light;
  - #f0f0eb: green-light;
  - #62625c: yellow-dark;
*/

:root {
  --bg-color: #f0f0eb;
  --text-color: #494949;
  --primary-color: #62625c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13110b;
    --text-color: #fafafa;
  }
}
